{% extends 'base.html.twig' %}

{% block body %}
    <form class="form-user" action="{{ path('login') }}" method="post">
        {% if error %}
            <div class="alert alert-error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <label for="username" class="sr-only">Nom d'utilisateur:</label>
        <input class="form-control" type="text" id="username" name="_username" placeholder="Nom d'utilisateur"
               value="{{ last_username }}"/>

        <label for="password" class="sr-only">Mot de passe:</label>
        <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>

        <a class="btn btn-lg btn-default btn-block" href="{{ path('user_registration') }}">Enregistrer</a>
    </form>

{% endblock %}